* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    max-width: 1024px;
    width: 100%;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    border: none;
}

div {
    padding: 20px;
    border: 1px solid grey;
    font-size: 15px;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

div>div:nth-child(even) {
    background-color: lightblue;
}

strong {
    color: brown;
}

h1.title {
    padding: 20px 0;
    text-align: center;
    font-size: 25px;
}

h1.title span.data {
    padding: 20px;
    color: brown;

}

.form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-content: center;
    width: 80%;
    padding: 30px;
    margin: 0 auto;
}

.search {
    width: 100%;
    height: 40px;
    padding: 0 30px;


}

.search:focus {
    background-color: #fff;
    color: black;
    outline: none;
    background-color: lightblue;
}

.submit {
    width: 100%;
    margin: 0 30px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    color: brown;
    text-align: center;
    cursor: pointer;
    transition: .4s;
}

.submit:hover {
    background-color: lightblue;
}

.res {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    padding: 50px;
    /* height: 10vh; */
    border: none;
    font-size: 20px;
}
.blue {
    background-color: lightblue;
}

@media (max-width: 800px) {
    h1.title {
        padding: 20px 0;
        text-align: center;
        font-size: 25px;
    }
    .search {
        grid-column: 1/2;
        width: 90%;
    }
    .submit {
        grid-column: 2/3;
        margin: 0;
        padding: 5px 0;
        width: 90%;
    }
}

@media (max-width: 700px) {
    h1.title {
        font-size: 22px;
    }
    .form {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .search {
        grid-column: 1/2;
        justify-self: center;
    }
    .submit {
        grid-column: 1/2;
        margin: 10px 0;
        padding: 5px 0;
        justify-self: center;
    }
    .res {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        padding: 0;
        margin: 0 auto 60px;
       
    }
    div {
        font-size: 14px;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    div span:nth-child(1) {
        grid-column: 1/-1;
        margin-bottom: 10px;
    }
    h1.title {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .form {
        grid-template-columns: 1fr;
        justify-content: center;
        
    }

    .search {
        grid-column: 1/2;
       justify-self: center;
    }
    .submit {
        grid-column: 1/2;
        margin: 10px 0;
        padding: 5px 0;
        justify-self: center;
    }
    .res {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        padding: 0;
        margin: 0 auto 60px;
       
    }
    div {
        font-size: 12px;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    div span:nth-child(1) {
        grid-column: 1/-1;
        margin-bottom: 10px;
    }
    h1.title {
        font-size: 18px;
    }
}